<div id="analysis">
  <div class="slider-container">
    <div layout="row" class="slider-inner-container">
      <div class="slider-label">
        Reblogged
        <div>({{+view.rebloggedPostCount}})</div>
      </div>
      <md-slider aria-label="ratio original to reblogged"
        ng-disabled="true"
        ng-model="view.percentOriginal"
        min="0"
        max="100">
      </md-slider>
      <div class="slider-label">
        Original
        <div>({{+view.originalPostCount}})</div>
      </div>
    </div>
  </div>
  <md-divider></md-divider>
  <div class="chart-container">
    <div>
      <highchart config="view.notesOverTime"></highchart>
    </div>
    <div class="chart-controls" layout="column">
      <md-switch ng-model="view.chartControls.notesOverTimeInclReblogs"
        aria-label="Include Reblogged Posts">
        Include Reblogged Posts
      </md-switch>
    </div>
  </div>
  <md-divider></md-divider>
  <div class="chart-container">
    <div>
      <highchart config="view.postCountsByType"></highchart>
      <div class="chart-controls" layout="column">
        <md-switch ng-model="view.chartControls.postCountsByTypeInclReblogs"
          aria-label="Include Reblogged Posts">
          Include Reblogged Posts
        </md-switch>
      </div>
    </div>
  </div>
  <md-divider></md-divider>
  <div class="chart-container">
    <highchart config="view.postNotesByType"></highchart>
    <div class="chart-controls" layout="column">
      <md-switch ng-model="view.chartControls.postNotesByTypeInclReblogs"
        aria-label="Include Reblogged Posts">
        Include Reblogged Posts
      </md-switch>
    </div>
  </div>
</div>