<div id="tumblr-top" layout="column">
  <md-toolbar layout="row">
    <div id="logo" class="md-toolbar-tools">
      <h1><a href="/">Tumblr Top</a></h1>
    </div>
  </md-toolbar>
  <md-content id="content-container">
    <div id="controls">
      <div layout="row">
        <div id="blog-name-input" layout="column">
          <md-input-container md-no-float flex>
            <input type="text" ng-disabled="view.loadingPosts" placeholder="Enter a blog name to view its top content" ng-keypress="view.analyzeOnEnter($event)" ng-model="view.blogName">
          </md-input-container>
        </div>
        <div layout="column">
          <div id="start-stop-buttons" layout="row">
            <md-button class="md-raised md-primary"
              ng-if="!view.loadingPosts"
              ng-disabled="view.blogName == undefined || view.blogName == ''"
              ng-click="view.startAnalysis()">Get Posts
            </md-button>
            <md-button class="md-raised"
              ng-if="view.loadingPosts"
              ng-click="view.stopAnalysis()">Stop
            </md-button>
          </div>
        </div>
      </div>

      <div layout="row" ng-if="view.loadingPosts">
        <md-progress-linear md-mode="determinate" value="{{(view.posts.length / view.blog.posts) * 100}}"></md-progress-linear>
      </div>

      <div id="status" layout="row">
        <div ng-if="view.loadingPosts && view.posts.length == 0">
          Loading...
        </div>
        <div ng-if="view.posts.length > 0">
          <span ng-if="view.loadingPosts">Reading</span><span ng-if="!view.loadingPosts">Read</span>&nbsp;{{view.posts.length}} of {{view.blog.posts}} posts
        </div>
      </div>

      <div layout="row">
        <div ng-if="view.avatarUrl" class="round">
          <a ng-href="{{view.blog.url}}" target="_blank">
            <img ng-src="{{view.avatarUrl}}" alt="{{view.blogName}}" />
          </a>
        </div>
        <h2 class="md-display-3" id="blog-link">
          <a target="_blank" ng-href="{{view.blog.url}}">
            <span ng-if="view.blog.title">{{view.blog.title}}</span>
            <span ng-if="!view.blog.title">{{view.blog.name}}</span>
          </a>
        </h2>
        <span ng-if="view.blog.is_nsfw" class="nsfw">NSFW</span>
      </div>
    </div>

    <div ng-if="view.posts.length > 0" id="tabs">
      <md-button ng-disabled="view.showTopPosts"
        ng-click="view.showTopPosts = true">
        Top Original Posts
      </md-button>
      <span class="separator">|</span>
      <md-button ng-disabled="!view.showTopPosts"
        ng-click="view.showTopPosts = false">
        Analysis
      </md-button>
      <md-divider></md-divider>
    </div>

    <div id="grid-list-container" ng-if="view.showTopPosts && view.posts.length > 0">
      <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="3" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="20px" md-gutter-gt-sm="20px">
        <md-grid-tile ng-repeat="post in view.posts | filter: {original: true} | orderBy:'-note_count' | limitTo:view.displayPostLimit" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
          <post post="post"></post>
        </md-grid-tile>
      </md-grid-list>
    </div>

    <div id="show-more-link" layout="row" ng-if="view.showTopPosts && view.originalPostCount > 0 && view.displayPostLimit <= view.originalPostCount" >
      <a href="javascript:void(0);" ng-click="view.displayPostLimit = view.displayPostLimit + view.POST_LIMIT_INCR">Show more</a>
    </div>

    <div ng-if="!view.showTopPosts && view.posts.length > 0">
      <analysis posts="view.posts"></analysis>
    </div>

  </md-content>
</div>